services:
  postgres:
    image: postgres:18.1-alpine
    command: ["postgres", "-c", "log_statement=all", "-c", "log_destination=stderr"]
    container_name: db
    environment:
      - POSTGRES_USER=cuckoodev
      - POSTGRES_DB=cuckoo
      - POSTGRES_HOST_AUTH_METHOD=s3kr3t
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U boldev"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - "./.migrations:/databases"
      - "./.migrations:/app/migrations"
